@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;300&display=swap');

body   {
    display: flex;
    flex-direction: column;
    background: #F3F5FC;
}

#logo-alura {
    /* position: absolute;
    top: 40px;
    left: 84px; */
}


.principal {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    height: 80vh;
}

.container  {
    align-self: flex-start;
    flex-grow: 2;
    flex-wrap: wrap;
}

.interação {
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

#tela-saida {
    background: white;
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
    flex-basis: 320px;
}

#entrada {
    flex-grow: 1;
    margin-right: 10vh;
    height: 50vh;
    background-color:  #F3F5FC;
    resize: none;
    border: none;
    flex-basis: 320px;
    
    /* font */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.msg-saida {
    text-align: center;
}

.texto   {
    text-align: center;
}

.btn   {
    display: flex;
    flex-direction: column;
}